@font-face {
    font-family: "OrbitronMed";
    src: url('../fonts/orbitron-medium.eot');
    src: local('☺'), url("../fonts/orbitron-medium.otf") format("opentype");
}

/* Reset */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, font, img, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

:focus {
    outline: 0;
}

/* // Reset */

body {
    line-height: 1;
    background: url(../images/background.jpg); /* image for body made with Photoshop using noise filter (gaussian monochromatic) on #ccc */
    font-family: Georgia, Verdana, Lucida Sans Unicode�, sans-serif;
    font-size: 12px;
    color: #999;
}

header {
    margin-top: 20px;
}

h2 {
    font-style: italic;
    font-weight: normal;
    line-height: 1.2em;
}

h3, p
{
    padding: 0;
    margin: 0;
}

#page {
    margin: 0 auto;
    padding: 20px;
}

#page h3 {
    margin-bottom: 5px;
}

#page_inner {
    margin: 0 auto;
    width: 820px;
}

.shadow {
    -webkit-box-shadow: rgba(0, 0, 0, 0.296875) 0px 0px 8px;
    background: white;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
}

#game_container {
    z-index: 1000;
    position: relative;
    margin-bottom: 10px;
    float:left;
    margin-right: 30px;
    margin-top: 10px;
    width: 320px;
    height: 480px;
    padding: 3px;
}

#game_scores, #game_controls, #high_scores {
    padding: 10px;
    width: 170px;
    float: left;
    margin-top: 10px;
}

#high_scores {
    margin-right: 30px;
    width: 200px;
}

#game_controls ul {
    list-style: none;
}

#game_controls > .box {
    margin-bottom: 10px;
}

#game_over {
    padding: 10px;
    width: 230px;
    position: absolute;
    top: 35px;
    left: 35px;
}

#game_over h1 {
    text-align: center;
    font-family: OrbitronMed, 'Courier New', monospace;
    font-size: 20px;
    letter-spacing: 1px;
    text-shadow: rgba(0, 0, 0, 0.59375) 1px 1px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#game_over input {
    padding: 2px;
    width: 66%;
}

#game_over h3 {
    margin-bottom: 10px;
}

#game_over #save_button {
    background-color: #ec1e1e;
    padding: 5px 10px;
    width: 50px;
    text-align:center;
    color:white;
    margin-bottom: 10px;
}

#game_over center {
    margin-top: 15px;
    margin-bottom: 5px;
}

#high_scores ul {
    list-style-type: decimal;
    margin-left: 20px;
}

#container {
    width: 320px;
    height: 480px;
}

#social 
{
    padding-left: 30px;
    margin-bottom: 30px;
    width: 300px;
}

.menu {
    width: 400px;
    position: relative;
    top:10px;
    left: 260px;
    z-index: 80; /* the stack order: displayed under bubble (90) */
}

.menu ul li {
    -webkit-transform: rotate(-45deg); /* rotate the list item */
    -moz-transform: rotate(-45deg); /* rotate the list item */
    width: 50px;
    overflow: hidden;   
    margin: 10px 0px;
    padding: 5px 5px 5px 18px;
    float: left;
    background: #7f9db9;
    text-align: right;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    display:block;
}

.menu ul li.l1 {
    background: rgba(131,178,51,0.65);
}

.menu ul li.l1:hover {
    background: rgb(131,178,51);
}

.menu ul li.l2 {
    background: rgba(196,89,30,0.65);
}

.menu ul li.l2:hover {
    background: rgb(196,89,30);
}

.menu ul li.l3 {
    background: rgba(65,117,160,0.65);
}

.menu ul li.l3:hover {
    background: rgb(65,117,160);
}

.menu span {
    margin: 15px 125px 0px 0px;
    float:right;
}

.info {
    padding: 40px 25px 35px 25px;
}

.info h2 {
    font-size: 20px;
}

.info p {
    padding-top: 10px;
    font-size: 14px;
    line-height: 22px;
}

.info p a {
    color: #c4591e;
    text-decoration: none;
}

.info p a:hover {
    text-decoration: underline;
}

.clear
{
    clear:both;
    font-size: 1px;
}
